*{
    margin: 0;
}

body{
    font-family: "Lucida Console", "Courier New", monospace;
}

.container{
    margin-left: 270px;
    padding-left: 20px;
    padding-bottom: 30px;
    background-color: rgba(128, 128, 128, 0.151);
    width: 100%;
}

.sidebar{
    padding: 30px;
    position: fixed;
    left: 0;
    width: 210px;
    height: 100%;
    z-index: 999;
}

aside{
    left: 0px;
    position: sticky;
    background-color: #EE693F;
}

.sidebar header{
    padding: 0px;
    padding-left: 10px;
    padding-bottom: 40px;
    font-size: 25px;
    color: white;
}

.sidebar ul li i{
    text-decoration: none;
    color: white;
    
}

.sidebar ul li{
    list-style: none;
    list-style-type: none;
    margin-bottom: 20px;
}

.sidebar ul{
    padding: 10px;
}

.orders{
    background-color: #FFCD44;
    text-align: left;
    justify-items: center;
    padding: 15px;
    border-radius: 10px;
}
.dashboard{
    text-align: left;
    justify-items: center;
    padding: 10px;
}
.products{
    text-align: left;
    justify-items: center;
    padding: 10px;
}

.top{
    top: 0px;
    background-color: #EE693F;
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: -20px;
    margin-bottom: 25px;
}

input[type=text]{
    padding: 10px 50px 10px 20px;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.329);
}

button[type=submit]{
    padding: 10px;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.329);
}

.akun{
    padding: 10px;
}

.container h1{
    margin-left: 30px;
}

table {
    border-collapse: collapse;
    margin: 30px;
    padding: 20px;
    background-color: white;
    font-size: 12px;
}


  
td, th {
    text-align: left;
    padding:20px;
    align-items: center;
    justify-content: center;
}

tr{
    border: 1px solid rgba(0, 0, 0, 0.329);
}

button{
    margin-bottom: 10px;
    background-color: #FFCD44;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
}

button:hover{
    background-color: #cea433;
    cursor:pointer;
}