*{
    margin: 0;
}

body{
    font-family: "Lucida Console", "Courier New", monospace;
}

.container{
    position: relative;
}

.judul{
    padding: 20px;
    padding-left: 40px;
}

nav{
    top: 0px;
    position: sticky;
    display: flex;
    justify-content: space-between;   
    background-color: #EE693F;
    border-radius: 0px 0px 20px 20px;
    z-index: 999;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: large;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding-right: 40px;
    padding-top: 25px;
}

.title{
    margin: 40px;
    justify-items: center;
}

.title p{
    margin-top: 20px;
}

#pembayaran{
    margin: 0px 40px 40px 40px;
}

.opsi h3{
    margin-bottom: 10px;
}

#bukti{
    margin: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.whatsapp-button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    background-color: #F5BE41;
    color: white;
    padding: 5px 20px 5px 10px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: #EE693F;
    margin: 10px;
    z-index: 1;
    font-size: 12px;
}

.whatsapp-button:hover {
    background-color: #1db855;
}

.submit{
    margin-top: 0px;
    margin-bottom: 80px;
    text-align: center;
}

.submit a:hover{
    background-color: #EE693F;
}

.submit a{
    text-decoration: none;
    background-color: #F5BE41;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: #F5BE41;
    margin: 10px;
    font-size: 12px;
    text-align: center;
}

.kembali{
    margin: 40px 40px 20px 40px;
}

.kembali h3{
    color: black;
}

.footer{
    margin-top: 50px;
    background-color: #EE693F;
    border-radius: 0px 0px 0px 0px;
    padding: 20px;
    justify-items: center;
    font-size: 20px;
} 

.contact{
    color: white;
    margin-bottom: 10px;
}